body {
    color: white;
    font-family: "Averia Libre", system-ui;
    background: rgb(5, 17, 6);
    text-align: center;
    margin-bottom: 5%;
    margin-top: 2%;

}

header {
    border-bottom: solid 1px rgb(144, 207, 145);
    font-size: 70px;
    padding: 15px;
    color: rgb(144, 207, 145);
    font-family: "Amatic SC", sans-serif;
    

}

.chamada-texto { 
    background: rgb(19, 66, 23);
   padding: 10px;
    justify-content: center;
}

.chamada-texto {
  
    font-size: 20px;
}

h1 { 
    font-size: 40px;
}

p {
    font-size: 20px;
}

h2{ 
    font-family: "Amatic SC", sans-serif;
    font-size: 60px;
    text-align: left;
    color: rgb(144, 207, 145);
    border-bottom: solid 1px rgb(144, 207, 145);
}

.recomendados {

    display: flex;
    overflow-x: auto;
    gap: 10px
}

.minis {
    padding-left: 2%;
    padding-right: 2%;
    
}

.recomendados img {
    opacity: 60%;
    height: 200px;
}

.recomendados img:hover{
   opacity: 100%;
   border: solid 2px rgb(144, 207, 145);
}